body,
html,
table,
td {
  margin-top: 0px;
  font-size: 11px;
  font-family: Arial, Helvetica, Sans-Serif;
}

hr {
  color: #626231;
}

a {
  color: #003333;
}

a img {
  border: none;
}

a:hover {
  color: Maroon;
}

a:roll {
  font-weight: bold;
}

a:roll:visited {
  color: Blue;
}

a:roll:hover {
  color: Maroon;
}

a:visited {
  color: #808000;
}

#FooterStyle {
  font-size: 16px;
}

input.button {
  color: White;
  background-color: #55b2aa;
  border-color: #55a8a0;
  border-width: 1px;
  border-style: Solid;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  font-weight: bold;
}

th.headercell {
  font-weight: bold;
  font-size: 13px;
  color: White;
  background-color: #003333;
}

td.cell {
  font-size: 13px;
  color: Black;
  font-family: Arial, Helvetica, Sans-Serif;
}

.aspButton {
  background-color: #55b2aa;
  color: White;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  font-weight: bold;
  border-color: #55a8a0;
  border-style: solid;
  border-width: 1px;
}

.aspButtonAsHyperlink {
  text-align: center;
  font-size: 10px;
  color: Purple;
  background-color: Transparent;
  border-style: none;
}

.aspMainHeader {
  color: #003333;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-weight: bold;
}
.aspSubHeader {
  color: #003333;
  font-family: Arial, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.aspHyperlinkEnabled {
  color: #003333;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.aspHyperlinkDisabled {
  color: #808080;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
}

.MainMenuLink {
  color: #003333;
  font-size: 11px;
}

.LabelErrorSmall {
  font-size: 13px;
  font-family: Arial, Helvetica, Sans-Serif;
  color: red;
  text-align: center;
  font-weight: bold;
}

.LabelError {
  font-size: 16px;
  font-family: Arial, Helvetica, Sans-Serif;
  color: red;
  text-align: center;
  font-weight: bold;
}

.Title {
  color: black;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-weight: bold;
}

.Label11 {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

.LabelBold11 {
  color: black;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 11px;
  font-weight: bold;
}

.Line {
  color: black;
  height: 2px;
  width: 750px;
}

.hiddencol {
  display: none;
}

.Label16 {
  color: black;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
}

.LabelBold16 {
  color: black;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-weight: bold;
}

.Display {
  color: black;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
}

.LabelBold14 {
  color: black;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
}

.Label14 {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.aspNavigationButton:disabled {
  color: lightgray;
}

.aspNavigationButton {
  background-color: #55b2aa;
  color: White;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 13px;
  font-weight: bold;
  border-color: #55a8a0;
  border-style: solid;
  border-width: 1px;
  width: 30px;
  margin-right: 2px;
  margin-left: 2px;
}

.aspLabel {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

.aspLabelHeader {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.aspLabelLeftPad {
  font-size: 11px;
  padding-left: 45px;
}
.Header {
  verticalpadding: "0";
  staticmenuitemstyle-font-name: "Verdana";
  staticmenuitemstyle-font-size: "9pt";
  staticmenuitemstyle-forecolor: "#990000";
  statichoverstyle-backcolor: "#707070";
  statichoverstyle-forecolor: "#FFFFFF";
  dynamicmenustyle-horizontalpadding: "5";
  dynamicmenustyle-verticalpadding: "0";
  dynamicmenustyle-backcolor: "#E0E0E0";
  dynamicmenustyle-forecolor: "#990000";
  dynamicmenustyle-borderwidth: "0";
  dynamicmenustyle-bordercolor: "#C0C0C0";
  dynamicmenuitemstyle-verticalpadding: "0";
  dynamicmenuitemstyle-font-name: "Verdana";
  dynamicmenuitemstyle-font-size: "9pt";
  dynamicmenuitemstyle-forecolor: "#990000";
  dynamichoverstyle-backcolor: "#FFFFFF";
  dynamichoverstyle-forecolor: "#990000";
  staticenabledefaultpopoutimage: "False";
}
.tdstyle {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.FixedLayoutTable {
  table-layout: fixed;
  font-size: 12px;
  margin-top: 0;
  border-top: 0;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
}

.TableHeaderRow {
  font-weight: bold;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: White;
  background-color: #55b2aa;
  line-height: 20px;
}

.TableHeaderRowSmall {
  font-weight: bold;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: White;
  background-color: #003333;
  line-height: 20px;
}

.TableHeaderCell {
  color: White;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-weight: bold;
}

.TableRowWithSpacing {
  border-spacing: 0 10px;
}

.CheckBox {
  font-size: 13px;
}

.ulNoIndent {
  list-style-position: inside;
  padding-left: 0px;
  margin: 0px;
}

.Grid {
  padding: 4px;
}

.Grid .footer {
  background-color: #55b2aa;
  font: bold;
  color: white;
  border-color: #55a8a0;
}

.Grid .row {
  background-color: whitesmoke;
  color: black;
}

.Grid .editRow {
  background-color: #55b2aa;
  color: white;
  border-color: #55a8a0;
}

.Grid .selectedRow {
  background-color: gray;
  font: bold;
  color: white;
}

.Grid .pager {
  background-color: white;
  font: bold;
  color: #55b2aa;
  border-width: 0px;
}

.Grid .header {
  background-color: #55b2aa;
  font: bold;
  color: white;
  border-color: #55a8a0;
  text-align: left;
}

.Grid .altRow {
  background-color: white;
  color: black;
}
/* used to force width on Catering Exceptions checkboxes*/
.chkBoxListCatering td {
  width: 100px;
}

.Smaller {
  font-size: smaller;
}

.aspGridViewFooter {
  color: White;
  background-color: #174038;
  font-weight: bold;
  border-color: #55a8a0;
}

.aspGridViewRowStyle {
  background-color: WhiteSmoke;
  color: Black;
}

.aspGridViewRowStyle {
  background-color: #174038;
  color: White;
  border-color: #55a8a0;
}

.aspGridVewSelectedRowStyle {
  background-color: Gray;
  font-weight: bold;
  color: White;
}
.aspGridViewPagerStyle {
  background-color: White;
  color: #55b2aa;
  border-width: 0px;
  font-weight: bold;
}

.aspGridViewHeaderStyle {
  background-color: #174038;
  font-weight: bold;
  color: White;
  border-color: #55a8a0;
  text-align: left;
}

.aspImageButtonCalendar {
  height: 16px;
  width: 16px;
}

.font-weight-Bold {
  font-weight: bold;
}

.verticalAlign-Bottom {
  vertical-align: bottom;
}

.textAlign-Center {
  text-align: center;
}

.textAlign-Right {
  text-align: right;
}

.textAlign-Left {
  text-align: left;
}
